<!DOCTYPE html>
<html>
<head>
  <title>Larvata signing</title>
  <%= stylesheet_link_tag    "larvata/signing/application", media: "all" %>
  <%= javascript_include_tag "larvata/signing/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
